NEXT_PUBLIC_SUPABASE_URL=https://puwxebdjnhykwnzbckis.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1d3hlYmRqbmh5a3duemJja2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNjg0NTEsImV4cCI6MjA5ODk0NDQ1MX0.pBKSMs6RvevfPy094WZj6fLIOfQGd7aYVIRUd2s8ryo